.p-aboutSite__heading {
    margin: 0;
    text-align: center;
    font-family: $font-base;
    font-size: 3.8rem;
    @include media(tb) {
        font-size: 3rem;
    }
    @include media(sp) {
        font-size: 2.5rem;
    }
}