.p-contact__btn {
    text-align: center;
    & input{
        width: 70%;
        height: 3rem;
        background-color: #6495ed;
        color: #FFF;
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 0.2em;
        border: 1px solid #6495ed;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s; 
    }
    & input :hover{
        background-color: #FFF;
	    color: #005513
    }
}