.p-footer__copyright {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    /*
    position: absolute;
    top: calc(47% - -0.75rem);
    left: 9rem;
    */
}