//flushというアニメーション名
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.p-loadingCircle{
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear 0s infinite;
}