.p-price__table__header--design {
   border-top: solid;
   border-bottom: solid;
   border-color: #c0c0c0;
   border-width: .2rem;
   & > tr > th {
      font-size: 2rem;
      width:100rem;
      max-width: 120rem;
      text-align: left;
      padding-left: 3rem;
      padding-top: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
         @include media(sp) {
         text-align: center;
      }
   }
}