.p-price__table--footer {
   & > tr > td {
      font-size: 1.5rem;
      width:50rem;
      max-width: 70rem;
      padding-left: 3rem;
      border-bottom: solid;
      border-color: #c0c0c0;
      border-width: .2rem;
      @include media(sp) {
         font-size: 1.3rem;
      }
   }
}