.p-price__table__price--design {
      @extend %p-price__table__category--subPage;
      text-align: right;
      padding-right: 10rem;
      @include media(sp){
            padding-right: 2rem;
      }
}