.p-profile__heading {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    font-family: $font-base;
    position: relative;
    margin-bottom: 2rem;
    &::before {
        content:"";
        display: inline-block;
        //nの長さが400.359pxと412.719pxとの差なので、12.36pxの文字と線の間隔
        width: 42.4%;
        height: .2rem;
        background-color: #c0c0c0;
        position: absolute;
        left: 0%;
        top: 50%;
        @include media(tb) {
            width:39.4%;
        }
        @include media(sp) {
            width:28.4%;
        }
    }
    &::after {
        content:"";
        display: inline-block;
        //文字と線の間はwidth 2rem分
        width: 42.4%;
        height: .2rem;
        background-color: #c0c0c0;
        position: absolute;
        left: 57.5%;
        top: 50%;
        @include media(tb) {
            width: 39.4%;
            left: 60.5%;
        }
        @include media(sp) {
            width:28.4%;
            left: 72.5%;
        }
    }
}