.p-service__skillImage--SCSS {
    width: 68.5%;
    object-fit: cover;
    font-family: 'object-fit: cover; object-position: 0 100%;';
    margin-left: 3.55rem;
    @include media(tb) {
        margin-left: 1.5rem;
    }
    @include media(sp) {
        margin-left: 1.1rem;
    }
}