.p-service__backgroundImage {
    background-image: url("image/Service_background.jpg");
    background-size: cover;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
}