.p-work--image {
    width: 35rem;
    max-width: 70rem;
    @include media(tb) {
        width: 25rem;
        max-width: 27rem;
    }
    @include media(sp) {
        width: 30rem;
        max-width: 30rem;
    }
}